<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/inventory/dashboard">UBITest </a>
      <input class="form-control form-control-dark w-100" type="label" value="Bonjour, {{ user.first_name.title() }} ! Are you ready ? ">
      {% if user.admin %}
      <a class="btn btn-info" href="/inventory/addInventory">Inventory Management</a>
      {% endif %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/user/logout">Log out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 overlay" id="dashboardSection">


          <h3>Points <a class="btn btn-success" href="/inventory/purchasePoints" role="button">Buy Points</a> </h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">

              <thead>
                <tr>
                  <th>Free Points</th>
                  <th>Purchased Points</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>{{ user.free_points }}</td>
                  <td>{{ user.purchased_points }} </td>
                </tr>

              </tbody>
            </table>
          </div>

          <br/>
          <br/>
          <h3>Items <a class="btn btn-success" href="/inventory/purchaseItem" role="button">Buy Items</a>  </h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">

              <thead>
                <tr>
                  <th>Name </th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody>
                {% for i in inventory %}
                <tr>
                  <td>{{ i }}</td>
                  <td>{{ inventory[i] }} </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>



          <h3>Transactions </h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">

              <thead>
                <tr>
                  <th>Id </th>
                  <th>Type </th>
                  <th>Points</th>
                  <th>Description</th>
                  <th>Timestamp</th>
                </tr>
              </thead>

              <tbody>
                {% for t in transactions %}
                <tr>
                  <td>{{ t.trans_id }}</td>
                  <td>{{ t.trans_type }} </td>
                  <td>{{ t.points }} </td>
                  <td>{{ t.description }} </td>
                  <td>{{ t.timestamp }} </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

        </main>

      </div>
    </div>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
