<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="/user/login">
        {{ form.csrf_token }}
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                {%for m in message %}
                    {% for e in message[m] %}
                        <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ m }} - {{ e }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            {% endif %}
            {% endwith %}

      <label for="inputUsername" class="sr-only"></label>
      <input type="text" id="inputUsername" class="form-control" name="username" placeholder="username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">Made with Love !!!<p>
    </form>
  </body>
</html>